<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.1">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins", rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Change Password</title>
</head>

<body style="background-color: #97e6e1;">
    <div class="signup form-area">
        <div class="container">
            <div class="row single-form g-0" style="border-radius: 35px">
                <div class="col-sm-12 col-lg-5">
                    <div class="left2" style="border-top-left-radius: 35px;">
                        <img src="asset/shield.png" alt="Image" class="img-fluid" style="width: 80%; height: 80%; margin-left: 10%;">
                    </div>
                </div>
                <div class="col-sm-12 col-lg-7">
                    <div class="right2" style="margin-top: 2%;">
                        <h1>Change Password</h1>
                        <form class="needs-validation" novalidate id="change-password-form">
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label for="Email" class="form-label">Email</label>
                                        <input type="text" class="form-control" id="Email" name="userEmail" required>
                                        <div class="invalid-feedback">
                                            Masukkan Email.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label for="Email" class="form-label">Old Password</label>
                                        <div class="input-group mb-3">
                                            <input type="password" class="form-control" id="oldPassword" name="oldPassword" required>
                                            <div class="input-group-append">
                                                <span type="button" class="input-group-text" role="button" style="border-top-right-radius: 6px; border-bottom-right-radius: 6px;" id="oldTogglePassword" onclick="oldTogglePasswordVisibility('oldPassword')">
                                                    <i class="far fa-eye"></i>
                                                </span>
                                            </div>
                                            <div class="invalid-feedback">
                                                Masukkan password lama.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label for="Password" class="form-label">New Password</label>
                                        <div class="input-group mb-3">
                                            <input type="password" class="form-control" id="newPassword" name="newPassword" required>
                                            <div class="input-group-append">
                                                <span type="button" class="input-group-text" role="button" style="border-top-right-radius: 6px; border-bottom-right-radius: 6px;" id="newTogglePassword" onclick="newTogglePasswordVisibility('newPassword')">
                                                    <i class="far fa-eye"></i>
                                                </span>
                                            </div>
                                            <div class="invalid-feedback">
                                                Masukkan password baru.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" id="change-password" class="btn btn-primary" style="border-radius: 8px;">
                                <span id="button-animation" style="font-size: large;" role="status" aria-hidden="true"></span>
                                Change Password
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function oldTogglePasswordVisibility(buttonId){
            var x= document.getElementById(buttonId);
            var oldTogglePassword = document.querySelector("#oldTogglePassword");
            if (x.type === "password") {
                x.type = "text";
                oldTogglePassword.innerHTML = '<i class="far fa-eye-slash"></i>';
            } else {
                x.type = "password";
                oldTogglePassword.innerHTML = '<i class="far fa-eye"></i>';
            }
        }
        
        function newTogglePasswordVisibility(buttonId){
            var x= document.getElementById(buttonId);
            var newTogglePassword = document.querySelector("#newTogglePassword");
            if (x.type === "password") {
                x.type = "text";
                newTogglePassword.innerHTML = '<i class="far fa-eye-slash"></i>';
            } else {
                x.type = "password";
                newTogglePassword.innerHTML = '<i class="far fa-eye"></i>';
            }
        }

        document.getElementById('change-password').addEventListener('click', function() {
            var form = document.getElementById('change-password-form');
            var inputs = form.getElementsByTagName('input');
            var isInputEmpty = false;
            for (var i = 0; i < inputs.length; i++) {
                if (inputs[i].value.trim() === '') {
                    isInputEmpty= true;
                    break;
                }
            }
            if(form == null || isInputEmpty){
                return;
            }
            var button = document.getElementById('button-animation');
            button.classList.add('spinner-border', 'spinner-border-sm');
            button.setAttribute('disabled', 'true');
        });

        const form = document.querySelector("form");
        form.addEventListener('submit', function (e) {
            e.preventDefault();
        });
        (function() {
        'use strict';
        window.addEventListener('load', function() {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
                if (form.checkValidity() === true) {
                    event.preventDefault();
                // event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
            });
        }, false);
        })();
    </script>
</body>
</html>