<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins", rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>uCharging - Aplikasi Reservasi Charging Mobil</title>
</head>
<body>
    <div class="header index">
        <div class="d-flex align-items-center justify-content-between h-100">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <div class="text-center">
                            <h1 style="font-family: Poppins; font-size: 300%; line-height: 150%;">Never run out power again</h1>
                            <a type="button" class="get-started" href="/signin" style="text-decoration: none; color: black;">
                                Get Started
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>