<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins", rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Reservation Detail</title>
</head>

<body style="background-color: #97e6e1;">
    <div class="d-flex flex-column align-items-center" style="margin-top: 3%;">
        <h1 class="text-center">Reservation Detail</h1>
        <div class="receipt d-flex flex-column align-items-center justify-content-center">
            <div>
                 <img src="asset/qr-code.png" style="height: 150px; width: 150px;">
            </div>
            <div style="margin-top: 3%;">
                <p>Date    : Tue, 20-06-2023</p>
                <p>Station : GT Station</p>
                <p>Spot    : XX</p>
                <p>Payment : IDR 15.000</p>
                <p>VA      : 3901 xxxx xxxx</p>
            </div>
            <div>
                <button type="button" class="btn btn-light">
                    <a href="/" style="text-decoration: none; color: black; font-family: Poppins;">
                        Continue
                    </a>
                </button>
            </div>
        </div>
    </div>    
</body>
</html>