<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.1">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins", rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Sign In</title>
</head>

<body style="background-color: #97e6e1;">
    <div class="signup form-area">
        <div class="container">
            <div class="row single-form g-0" style="border-radius: 35px">
                <div class="col-sm-12 col-lg-5">
                    <div class="left2" style="border-top-left-radius: 35px;">
                        <img src="asset/login1.svg" alt="Image" class="img-fluid">
                    </div>
                </div>
                <div class="col-sm-12 col-lg-7">
                    <div class="right2">
                        <h1>Welcome Back</h1>
                        <% if(locals.message) { %>
                        <div class="text-danger"><%=message %></div>
                        <% } %>
                        <form action="/signin" method="post">
                            <div class="row needs-validation" novalidate>
                                <div class="col">
                                    <div class="mb-3">
                                        <label for="Email" class="form-label">Email / Phone Number</label>
                                        <input type="text" class="form-control" id="Email" name="username" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label for="Password" class="form-label">Password</label>
                                        <input type="text" class="form-control" id="Password" name="password" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-start">
                                    <div class="checkbox col">
                                        <label style="font-size: 12px;">
                                          <input type="checkbox" value="remember-me"> Remember me
                                        </label>
                                    </div>
                                </div>
                                <div class="col text-end">
                                    <div class="form-check">
                                        <span style="font-size: 12px;">Forgot Password? <a href="">Change Password</a></span>
                                    </div>
                                </div>
                            </div>
                          <button type="submit" class="btn btn-primary" style="border-radius: 8px;">Sign In</button>
                        </form>
                        <span style="margin-top: 15px; font-size: 12px;">Don't have an account? <a href="/signup">Sign Up</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>