<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins", rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Sign Up - uCharging</title>
</head>
<body>
    <div class="header signup form-area d-flex align-items-center justify-content-between">
        <div class="container">
            <div class="row single-form g-0" style="border-radius: 35px; width: 1000px; height: 500px;">
                <div class="col-sm-12 col-lg-4">
                    <img src="asset/register1.png" alt="Image" class="img-fluid image-overlay" style="width: 400px; height: 400px;">
                    <div class="left" style="border-top-left-radius: 35px; border-bottom-left-radius: 35px">   
                    </div>
                </div>
                <div class="col-sm-12 col-lg-8">
                    <div class="right d-flex flex-column justify-content-center">
                        <h1>Register</h1>
                        <form action="/signup" method="post">
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3" novalidate>
                                        <label for="FirstName" class="form-label">First Name</label>
                                        <input type="text" class="form-control" id="FirstName" name="first_name" required>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="mb-3">
                                        <label for="LastName" class="form-label">Last Name</label>
                                        <input type="text" class="form-control" id="LastName" name="last_name" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label for="PhoneNumber" class="form-label">Phone Number</label>
                                        <input type="text" class="form-control" id="PhoneNumber" name="phone_number" required>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="mb-3">
                                        <label for="Email" class="form-label">Email</label>
                                        <input type="text" class="form-control" id="Email" name="email" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label for="Password" class="form-label">Password</label>
                                        <input type="text" class="form-control" id="Password" name="password" required>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="mb-3">
                                        <label for="ConfirmPassword" class="form-label">Confirm Password</label>
                                        <input type="text" class="form-control" id="ConfirmPassword" required>
                                    </div>
                                </div>
                            </div>
                          <button type="submit" class="btn btn-primary" style="border-radius: 8px;">Register</button>
                        </form>
                        <span style="margin-top: 15px; font-size: 12px;">Already have an account? <a href="/signin">Sign In</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>