* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../asset/landing_page.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
}

.get-started-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: x-large;
    gap: 20px;
    min-width: 200px;
    min-height: 300px;
    height: 30%;
    width: 20%;
    padding: 60px;
}
.get-started{
    display: flex;
    min-width: 200px;
    border: none;
    text-decoration: none;
    background-color: #B6F6F3;
    color: black;
    border-radius: 20px;
    font-size: x-large;
    text-align: center;
    justify-content: center;
    font-family: Poppins;
    padding: 10px 0px;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding: 10px;
}