.button-wrapper {
    position: absolute;
    bottom: 5%;
    display: flex;
    gap: 20px;
    margin-left: 10px;
}

.profile {
    width: 40px;
    height: 40px;
}
.profile-button {
    width: 75px;
    height: 75px;
    background-color: #72BBBB;
    border: 4px solid #0D47A1;
    padding: 0;
}
.charger-button {
    width: 280px;
    height: 110px;
    background: #FF9800;
    border: 3px solid #000000;
    box-shadow: -3px 3px 0px #000000;
    border-radius: 10px;
}

#map {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.marker-user {
    background-image: url('../asset/fast_charger.svg');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.location-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 400px;
    height: 280px;
    background: white;
    border: 3px solid #000000;
    box-shadow: -3px 3px 0px #000000;
    border-radius: 10px;
    font-family: "Poppins";
    padding: 20px;
}

.popup-wrapper {
    display: flex;
}

.popup-detail {
    height: 40px;
}
.popup-detail img {
    height: 60%;
}

.button-detail{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    background: #266cd5;
    border: 2px solid #000000;
    border-radius: 10px;
    font-family: "Poppins";
    color: white;
}

.distance {
    display: flex;
    align-content: space-between;
    width: 90px;
    height: 40px;
    background: #FFB300;
    border: 2px solid #000000;
    border-radius: 10px;
    font-family: "Poppins";
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.marker-station {
    background-image: url('../asset/fast_charger.svg');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.marker-normal {
    background-image: url('../asset/normal_charger.svg');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.marker-fast {
    background-image: url('../asset/fast_charger.svg');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}