body{
    margin: 0;
    padding: 0;
    background-color: #97e6e1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    /* background: linear-gradient(
      180deg,
      #a2e3de 0%,
      #9de6e1 16%,
      #97e6e1 34%,
      #90e3dd 51%,
      #83e1d9 70%,
      #6fb6b8 100%
    ); */
}
.index{
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: url("../assets/landing_page.png");
}
.get-started{
    font-family: Poppins; 
    border-radius: 8px; 
    padding: 3% 15% 3% 15%; 
    margin-top: 8%; 
    font-size: x-large; 
    background-color: #B6F6F3; 
    border: none;
    text-decoration: none;
    color: black;
}
.get-started:hover{
    background-color: #BAFFFC;
    transition: 0.4s;
}
.image-container, .form-container {
    padding: 20px;
}
.image-container {
    flex: 1;
}
.form-container {
    flex: 1;
    background-color: #f1f1f1;
}
.form-area {
	padding-top: 7%;
}
.row.single-form {
	box-shadow: 0 2px 20px -5px rgba(0,0,0,0.5);
}
.left {
	background: #2B496A;
    padding: 145px 98px;
}
.left2 {
	background: #2B496A;
    padding: 120px 98px;
}
.single-form{
    background: #fff;
}
.right {
	padding: 35px 100px;
	position: relative;
}
.right2 {
	padding: 24px 100px;
	position: relative;
}
.form-control {
	border: 2px solid #000;
}
.right button, .right2 button {
	border: none;
	border-radius: 0;
	background: #252525;
	width: 180px;
	color: #fff;
	padding: 15px 0;
	display: inline-block;
	font-size: 16px;
	margin-top: 20px;
	cursor: pointer;
}
.right button:hover, .right2 button:hover{
    background-color: #252525;
}
.mt-3 img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
.profile-button{
    background-color: white;
    font-family: poppins;
    font-weight: bold;
    border-radius: 8px;
    stroke: #000;
    height: 50px;
    width: 160px;
}
.profile-button:hover{
    background-color: rgb(222, 222, 222);
    transition: 0.2s;
}
.section-button{
    background-color: white;
    font-family: poppins;
    font-weight: bold;
    stroke: #000;
    height: 50px;
    width: 240px;
}
.section-button:hover{
    background-color: rgb(222, 222, 222);
    transition: 0.2s;
}

.location-box {
    width: 350px;
    height: 185px;
    background: white;
    border: 3px solid #000000;
    box-shadow: -3px 3px 0px #000000;
    border-radius: 10px;
    font-family: "Poppins";
}

.button-detail{
    width: 120px;
    height: 40px;
    background: #266cd5;
    border: 2px solid #000000;
    border-radius: 10px;
    font-family: "Poppins";
    color: white;
}

.distance {
    background: #FFB300;
    border: 2px solid #000000;
    border-radius: 10px;
    font-family: "Poppins";
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.receipt {
    border-radius: 10px; 
    background-color: #2B496A; 
    width: 500px; 
    height: 450px; 
    color: white;
    font-family: Poppins;
}

.logout-button{
    background-color: rgb(165, 0, 0);
    font-family: poppins;
    font-weight: bold;
    color: white;
    height: 50px;
    width: 200px;
}
.logout-button:hover{
    background-color: rgb(190, 0, 0);
    transition: 0.2s;
}
.rating-stars {
    color: #ccc;
    font-size: 24px;
    cursor: pointer;
  }
  
  .rating-stars .star {
    transition: color 0.3s;
  }
  
  .rating-stars .star:hover,
  .rating-stars .star.active {
    color: gold;
  }


/*responsive*/
@media (min-width:992px){
    .left, .left2{
        border-bottom-left-radius: 35px;
    }
}
@media (max-width:992px){
    .left, .left2 {
        padding: 140px 15px;
        text-align: center;
        border-bottom-left-radius: 0;
        border-top-right-radius: 35px;
    }
    .right, .right2 {
        padding: 25px;
    }
    .right button, .right2 button {
        width: 150px;
        padding: 12px 0;
    } 
}